/****************************/
/* VARIABLES */
/****************************/
:root {
    --primary-blue: hsl(245, 75%, 52%);
    --secondary-blue: hsl(225, 100%, 94%);

    --blue-light: hsl(225, 100%, 98%);
    --blue-medium: hsl(224, 23%, 55%);
    --blue-dark: hsl(223, 47%, 23%);
}

/****************************/
/* STYLE RESET */
/****************************/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {

    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #555;
    overflow-x: hidden;
}

input,
button,
textarea,
select {
    font: inherit;
}

/****************************/
/* GENERAL STYLING */
/****************************/

.container {
    max-width: 100%;
    height: 100vh;
    background: url('images/pattern-background-desktop.svg'), #E0E8FF;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-section {
    width: 45rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    overflow: hidden;


}

.order__header {
    width: 100%;
}

.order__main {
    text-align: center;
    padding: 4.8rem;
}

.main-heading {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 3.7rem;
    color: var(--blue-dark);
    margin-bottom: 1.7rem;
}

.main-p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    color: var(--blue-medium);
    margin-bottom: 2rem;
}

.plan {
    background-color: #F7F9FF;
    border-radius: 11px;
    padding: 2.5rem 2.4rem;

    display: flex;
    gap: 2rem;

}

.plan-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-annual {
    text-align: left;
    line-height: 2.1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-heading {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--blue-dark);
}

.plan-price {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blue-medium);
}

.plan-link {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
    color: var(--primary-blue);
    position: relative;

    align-self: center;
}

.plan-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 1px;
    border-bottom: 2px solid var(--primary-blue);
}

.btn-ok {
    margin-top: 3.2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
    background-color: var(--primary-blue);
    padding: 1.5rem 0;
    border-radius: 1.1rem;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.btn-cancel {
    margin-top: 3.2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--blue-medium);
}


@media screen and (max-width:375px) {
    html {
        font-size: 60%;
    }

    .order-section {
        margin: 2.4rem;
    }

    .order__main {
        padding: 2.8rem;
    }

    .plan {
        padding: 2.5rem 1.4rem;
    }
}




























/* 
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  } 
*/